!!!
%html
  %head
    %title #{title}
    = javascript_include_tag :defaults 
    = csrf_meta_tag 
    = render 'layouts/stylesheets'
  %body
    .container
      = render 'layouts/header'

      %section.round
        #{yield} 

      =render 'layouts/footer'